p {
  color: #1d1d1f;
  font-family: Arial;
  text-align: center;
  margin: 0;
}

.text-new {
  color: #e46c2b;
  margin: 10px 0;
}

.text-product-title {
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 5px 0;
}

.text-description {
  font-weight: bold;
  font-size: 50px;
}

.text-price {
  font-size: 20px;
  margin: 10px 0 25px 0;
}

.buy-button {
  background-color: #306fdb;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}
